language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm

before_script:
    - curl -s http://getcomposer.org/installer | php
    - php composer.phar install --dev --no-interaction

phpunit: php vendor/bin/phpunit --prefer-dist --dev

script:
    - mkdir -p build/logs
    - php vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover ./build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls -v

matrix:
  allow_failures:
    - php: hhvm
